/* Media Query */
/* type: screen, speech, print, all */
/* (Xét kích thước) */
@media screen and (max-width: 1000px){
    /* Code CSS */
}
/* Áp dụng cho tất cả màn hình */
h1{
    background-color: red;
    color: white;
}
/* Desktop First */
/* Xu hướng: max-width */
/* Màn hình lớn trước màn hình nhỏ sau. Không được làm ngược lại vì nếu làm ngược lại sẽ đè ngược lại lẫn nhau*/
/* Nhỏ hơn 1200px thì có màu vàng */
@media screen and (max-width: 1200px){
    h1{
        background-color: yellow;
    }
}

/* Nhỏ hơn 900px thò có màu xanh */
@media screen and (max-width: 900px){
    h1{
        background-color: blue;
    }
}

/* Lớn hơn 1200px thì có màu đỏ */

/* */