/* Global */
html,body{
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.header{
    background-color: rgba(25, 25, 25, 0.8);
}

.header__content .header__logo{
    color: #00cdce;
}

.header__content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    align-items: center;
}

.header__content h2{
    font-size: 50px;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
}

.header__content ul{
    display: flex;
    width: 100%;
}

.header__content ul li{
    list-style: none;
    margin: 15px 20px 0px 20px; 
}

.header__content li a{
    text-decoration:    none;
    color: white;
    margin: 0 10px;
    transition: all 0.5s;
}

.header__content .header__item::after{
    content: "";
    background: white; 
    height: 3px;
    width: 100%;
    margin-top: 10px;
    display: block;
    transition: all 0.5s;
} 

.header__content .header__item:hover::after{
    opacity: 0;
    cursor: pointer;
}

.header__content .header__item:hover a{
    color: #00cdce;
}

/* Carousel */
#HousingCarousel .carousel-inner .carousel-caption{
    text-align: center;
    letter-spacing: 3px;
    transform: translateY(-170%);
}

#HousingCarousel .carousel-inner .carousel-caption h2{
    font-size: 3.75rem;
    font-weight: 900;
    margin-left: 0;
    margin-right: 0;
}

#HousingCarousel .carousel-inner .carousel-caption{
    font-size: 1rem;
}

#HousingCarousel .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    /* background-color: transparent;  */
    opacity: 1;
    background-clip: border-box;
}

#HousingCarousel .carousel-indicators li.active{
    border: 2px solid black;
    background-color: black;
}

#HousingCarousel .carousel-indicators li{
    margin: 0 10px 40px;
}

/* DETAIL */
.detail h2{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}   

.detail .detail__content{
    display: flex;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
}

.detail__item i{
    font-size: 2rem;
    width: 100px;
    height: 100px;
    border: 1px solid #7f7777;
    border-radius: 50%;
    background-color: white;
    line-height: 100px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.detail__item p{
    color: #7f7777;
    letter-spacing: 1px;
}

.detail__item i:hover{
    background-color: #00cdce;
    color: white;
}

.detail__infor h2{
    font-size: 30px;
    text-align: center;
    color: #00cdce;
    margin-top: -15px;
    margin-bottom: 20px;
}

.detail__infor p{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    letter-spacing: 1px;
    margin-bottom: 80px;
}

/* Record */
.record{
    background-color: #00cdce;
}

.record__content{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.record h2{
    padding-top: 80px;
    font-size: 50px;
    text-align: center;
    font-weight: 500;
}

.record__content .record__item .counter{
    font-size: 50px;
    color: white;
    margin-bottom: 5px;
}

.record__content .record__item p{
    font-size: 30px;
    margin-bottom: 70px;
}

/* Blog */
.blog{
    margin-top: 60px;
}
.blog .title{
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.blog__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin: 0 auto;
}

.blog__content .blog__item{
    margin: 0 15px;
    border: 0 solid white;
    background-color: #EFEFEF;
    border-top: 5px solid #00cdce;
}

.blog__content img{
    width: 100%;
}

.blog__content .btn{
    background-color: #EFEFEF;
    border: none; 
    margin: 0;
    padding: 0;
    color: #00cdce;
    font-size: 25px;
    margin-top: 20px;
    font-weight: bolder;
    transition: all 1s;
    margin-left: 20px;
    letter-spacing: 1px;
}

.blog__content p, button{
    margin-left: 20px;
    letter-spacing: 1px;
}

.blog__content .blog__item .btn1{
    padding: 8px 20px;
    color: #00cdce;
    background-color: #000;
    border: none;
    transition: all 1s;
    margin-bottom: 20px;
}
 
.blog__content .blog__item .modal-header{
    display: flex;
    align-items: center;
    color: white;
    background-color: #00cdce;
    border: none;
}

.blog__content .blog__item .modal-body p{
    width: 85%;
    margin: 0 auto;
    margin-top: 40px;
    color: #7f7777;
}

.blog__content .btn1:focus{
    outline: none;
    box-shadow: none;
}

.blog__content .btn:hover{
    color: #000;
}

.blog__content .btn1:hover{
    color: white;
}

/* More */
.more__content{
    margin-top: 70px;
    display: flex;
    margin-bottom: 80px;
}

.more__audio{
    height: 100%;
}

.more__information{
    text-align: center;
    background-color: #00cdce;
    height: 360px;
}

.more__information h2{
    font-size: 40px;
    font-weight: bolder;
    padding-top: 60px;
}

.more__information p{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.more__content .more__information .btn1{
    padding: 8px 20px;
    color: #00cdce;
    background-color: #000;
    border: none;
    transition: all 1s;
    margin-bottom: 20px;
}

.more__information .btn1:focus{
    outline: none;
    box-shadow: none;
}

.more__information .btn1:hover{
    color: white;
    background-color: #000;
}

/* Portfolio */
.portfolio h2{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.portfolio__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    width: 80%;
    margin: 0 auto;
    grid-gap: 15px;
}

.portfolio__item img{
    width: 100%;
    display: block;
}

.portfolio__item{
    position: relative;
}

.portfolio__info h3{
    text-align: center;
    padding-top: 50px;
}

.portfolio__item p{
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

.portfolio__info h3::after{
    content: "";
    display: block;
    width: 70%;
    margin: 0 auto;
    height: 1px;
    margin-top: 30px;
    background-color: #00cdce;
}

.portfolio__info h3::before{
    content: "";
    display: block;
    width: 70%;
    margin: 0 auto;
    height: 1px;
    margin-bottom: 30px;
    background-color: #00cdce;
}

.portfolio__info{
    position: absolute;
    background-color: rgba(0,0,0,.72);
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: white;
    transition: all 0.5s;
    opacity: 0;
}

.portfolio__item:hover .portfolio__info{
    opacity: 1;
}

/* Subcribe */
.subscribe{
    background-color: #00cdce;
    margin-bottom: 70px;
    padding-bottom: 20px;

}

.subscribe__content h2{
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    padding-top: 70px;
}

.subscribe__content p{
    color: white;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

.subscribe__text{
    width: 50%;
    margin: 0 auto;
    padding: 15px;
}

.subscribe__text form input{
    width: 100%;
    font-size: 13px;
    padding: 15px;
    letter-spacing: 1px;
    font-size: 13px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}

.subscribe__text button{
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px 60px;
    color: white;
    background-color: black;
    border: 1px solid black;
    font-size: 25px;
    transition: all 0.5s;
}

.subscribe__text button:hover{
    color: black;
    background-color: white;
}

/* Agents */
.agent h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.agent__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    width: 80%;
    margin: 0 auto;
}

.agent__item{
    background-color: rgba(0, 0, 0, 0.79);
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 80px;
}

.agent__item h3{
    color: #00cdce;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
    transition: all 0.5s;
}

.agent__item:hover h3{
    color: white;
}

.agent__item p{
    color: white;
    font-size: 15px;
}

.agent__item img{
    width: 100%;
}

.agent__item span i{
    margin: 0 10px;
    color: white;
    border: 2px solid white;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    transition: all .5s;
}

.agent__item span a{
    text-decoration: none;
}

.agent__item .fa-facebook-f:hover{
    background-color: #337ab7;
}

.agent__item .fa-twitter:hover{
    background-color: #55acee;
}

.agent__item .fa-rss:hover{
    background-color: #FF6600;
}

/* Map */
.map iframe{
    width: 100%;
}

/* Contact */
.contact{
    margin-bottom: 70px;
}

.contact h2{
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

.contact__form form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding-top: 40px; 
}

.contact__form form input,.contact__form form textarea{
    background-color: rgb(239, 239, 239);
    padding-left: 20px;
    border: none;
    border-bottom: 2px solid #7f7777;
    transition: all .5s;
    border-radius: 5px;
}

.contact__form form button{
    background-color: black;
    color: white;
    transition: all .5s;
    border: none;
    border-radius: 5px;
}

.contact__form form .contact__name{
    grid-row: 1 / span 1;
}

.contact__form form .contact__lastName{
    grid-row: 2 / span 1;
}

.contact__form form .contact__email{
    grid-row: 3 / span 1;
}

.contact__form form .contact__phone{
    grid-row: 4 / span 3;
}

.contact__form form textarea{
    grid-row: 1 / span 3;
}

.contact__form form button{
    width: 100%;
    margin: 0 auto;
    grid-row: 4 / span 3;
}

.contact__form form input:focus{
    outline: none;
}

.contact__form form textarea:focus{
    outline: none;
}

.contact__form form input:hover,.contact__form form textarea:hover{
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
}

.contact__form form button:hover{
    color: black;
    background-color: #00cdce;
}

/* footer */
footer{
    background-color: #00cdce;
}

footer .footer__content{
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__text p{
    color: white;
}

.footer__text p a{
    text-decoration: none;
    color: #FF6600;
    transition: all .5s;
}

.footer__content .footer__item ul{
    list-style: none;
    display: flex;
}

.footer__content .footer__item ul li a i{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 33px;
    margin: 0 10px;
    transition: all .5s;
}

.footer__item ul li .fa-facebook-f:hover{
    background-color: #337ab7;
}

.footer__item ul li .fa-twitter:hover{
    background-color: #55acee;
}

.footer__item ul li .fa-rss:hover{
    background-color: #FF6600;
}

.footer__item ul li .fa-vk:hover{
    background-color: #337ab7;
}

.footer__text p a:hover{
    color: white;
}

/* Back to top */
.backToTop{
    position: fixed;
    bottom: 10px;
    right: 12px;
    visibility: hidden;
    opacity: 0;
}

.backToTop i{
    width: 50px;
    line-height: 45px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    color: rgba(48,132,163, 1);
    border: 2px solid rgba(48,132,163, 1);
    border-radius: 50%;
}

.cd-top--is-visible {  
    visibility: visible;
    opacity: 1;
}